<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://tthkgamejam2023.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/b296f84b-d323-438d-af63-c187dce652a4/resourcegroups/TTHKgamejam202320231026104240ResourceGroup/providers/Microsoft.ContainerRegistry/registries/TTHKgamejam2023</ContainerResourceId>
    <ContainerResourceName>TTHKgamejam2023</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>tthkgamejam2023.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b296f84b-d323-438d-af63-c187dce652a4/resourcegroups/TTHKgamejam202320231026104240ResourceGroup/providers/Microsoft.Web/sites/TTHKgamejam2023</ResourceId>
    <ResourceGroup>TTHKgamejam202320231026104240ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://tthkgamejam2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>229f11ed-a0e1-4dca-8347-d9c67896b58a</ProjectGuid>
  </PropertyGroup>
</Project>