@{
    ViewData["Title"] = "Kontaktid";
}
<h1>@ViewData["Title"]</h1>

<p>
    Kontaktid:<br />
    <br />
    Kutseõpetaja - jyri.vaitmaa@tthk.ee<br />
    Huvijuht - lilian.kold@tthk.ee<br />
</p>


