@{
    ViewData["Title"] = "Game Jam 2023";
}
<div class="text-center">
    <h4>TTHK Sügisene Game Jam 2023</h4>
    <h1 class="display-4">Vahtraleht ja kõrvits</h1>
    <img src="~/images/leeftransAMEDIUM.png" alt="transparent pixel leaf A" />
    <img src="~/images/pompkentransMEDIUM.png" alt="transparent pixel pumpkin" />
    <img src="~/images/leeftransBMEDIUM.png" alt="transparent pixel leaf B" />
    <br />
</div>

<h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" /> Game Jam Teema? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
<p class="text-start">
    <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" /> Igal korralikul Game Jamil on oma teema, ja nii ka seegi kord. Esimese Game Jami teemaks on kõrvits ja vahtralehed. <br />
    Tere tulemast sügisesesse maagiasse meie Game Jam'is! Sel korral võtame vastu väljakutse, kus kõrvitsad ja vahtrad moodustavad meie
    inspiratsioonirikkad teljed. Kujutle end metsades jalutamas, kui kõrvitsad valmivad päikese käes ja vahtrad sahistavad tuules. See on meie loominguline fookuspunkt, mis paneb meid mõtlema sügisestele päevadele, kuldsetele lehtedele
    ja soojust kiirgavatele kõrvitsapirukatele.<br />

    Ootame, et jagaksid oma unikaalseid mõtteid sellest hooajalisest looduse ilust lähtuvalt. Olgu su mängus kõrvitsatest loodud seiklusmaailm või vahtrapuude varjus peituv saladus, las see teema inspireerib sind looma midagi erakordset. Mõtle säravatele sügiskarvadele, krõbisevatele lehtedele ja mängulistele kõrvitsanägudele – kõik on võimalik!<br />

    Liitu meiega sel põneval Game Jam'il, kus sügiseloodus saab meie virtuaalse mängumaailma osaks. Ole osa sellest loovast seiklusest ja anna oma panus mängumaailma sügisesse võlusse!
</p>
<br />
<br />
<br />
<h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" /> Reeglid? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
<p class="text-start">
    <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" />
    Korralikul Game Jam'il on ka kahjuks (loe: "õnneks") reeglid. Alljärgnev on nimekiri reeglitest <br /><br />
    <b>Kes võib osaleda?</b><br />
    Osaleda võivad kõik TTHK õpilased ja õpetajad, erialast olenemata! Ole sa kas noorem tarkvaraarendaja või juuksur,
    kui oskad siis tule ja tee midagi lahedat! <br /><br />
    <b>Mida ma selle jaoks kasutada võin?</b><br />
    Mängu loomisel võid kasutada kõike mis ise arvad sobib sinu projekti jaoks. Vahet pole kas tööriistaks on Unity, 
    Game Maker, RenPy, PyGame, Godot või midagi muud millega ise tuttav ning osav oled!<br /><br />
    <b>Kuidas see mäng välja nägema peab?</b><br />
    Et mäng kvalifitseeruks vastuvõetavaks, on vaja ära kasutada ainult etteantud teemat, kuidas ja mis kujul seda kasutada on sinu enda välja mõelda ning teha!<br /><br />
    <b>Kus ma seda mängu tegema pean?</b><br />
    Kodus, kohvikus, koolis vahetunnis, raamatukogus - kus mugavam on! Ametlikult pole Game Jam'i jaoks asukohta koolil spetsiifiliselt ette nähtud. Ehk teisisõnu, toimub Game Jam pilves/distantsilt itch.io ja Google keskkondades <br /><br />
    <b>Kui peale teema on antud enam-vähem vabad käed, kas on midagi mida teha ei tohi?</b><br />
    Jah, olemasolevat mängu maha teha ei tohi. Näiteks olemasoleva mängu ringihäkkimine ja siis selle mängu esitamine oma nime alt. Antud Game Jam on siiski orienteeritud originaalsusele, sestap ei ole ka eksisteerivate mängude modimised lubatud.<br /><br />
    <b>Ok, kas on midagi peale teema mida mu mäng igal juhul sisaldama peaks?</b><br />
    Jah, paar asja siiski on, mida iga mäng peab sisaldama. Nendeks on: <br />
    <ul>
        <li>Avaekraani kooli logoga</li>
        <li>Avaekraani mis kirjeldab ära kes mängu tegid, ning et mäng on tehtud selle Game Jami jaoks</li>
    </ul>
    <b>Kui mäng on valmis, kuhu ma selle saadan?</b><br />
    Vaata menüüst "Itch.Io Info" lehele. Seal on link mis viib õige Game Jami juurde.<br /><br />
    <b>Kuna seda aega teha on?</b><br />
    Ajakava Game Jami jaoks on allpool!<br /><br />
    <b>Kas mäng jääb koolile?</b><br />
    Ei! Kõik õigused sinu tööle jäävad sulle, kool ei võta Game Jamis osalemise eest mitte midagi, ega jäta endale mitte midagi. Rahalist osalust kellelgi ei ole ja mitte keegi ei kaota õigusi oma mängule.<br /><br />
    <b>Mäng on tehtud ja üles laetud, mis nüüd?</b><br />
    Peale mängude tegemisperioodi toimub hääletusperiood! hääleta oma lemmiku poolt seitsmes kategoorias:<br />
    <ul>
        <li>Ilusaim Graafika</li>
        <li>Huvitavaim Gameplay</li>
        <li>Põnevaim Story</li>
        <li>Parim Heli</li>
        <li>Top Shelf Memes (naljakaim lahendus)</li>
        <li>Kõige Potensiaalikaim</li>
        <li>Kõige parem üleüldine mäng</li>
    </ul>

</p>
<br />
<br />
<br />
<h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" /> Ajakava? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
<p class="text-start">
    <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" />
    Game Jami ajakava on järgmine: <br /><br />
    <b>Mängude tegemine:</b><br />
    Mängude tegemise ja itch.io lehele üleslaadimise aeg algab 30 Oktoober ning lõppeb 5. november. <br /><br />
    <b>Mängude hääletamine:</b><br />
   Hääletuse ajavahemik on 7-10 november, pane tähele sellele saidile, üles ilmub õigel ajal link hääletusele.<br /><br />
    <b>Tulemuste avalikustamine:</b><br />
    Tulemused avalikustatakse 13. novembril<br /><br />
</p>
<br />
<br />
<br />