@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4>TTHK Sügisgamejam 2023</h4>
    <h1 class="display-4">Vahtraleht ja kõrvits</h1>
    <br />
    <p>
        <h2>Tere tulemast TTHK 2023 aasta sügisesele Game Jamile!</h2><br />
        <img src="~/images/leeftransAMEDIUM.png" alt="transparent pixel leaf A" />
        <img src="~/images/pompkentransMEDIUM.png" alt="transparent pixel pumpkin" />
        <img src="~/images/leeftransBMEDIUM.png" alt="transparent pixel leaf B" />
    </p>

</div>
<div class="text-center">
    <p>
        Game Jam on selleks korraks läbi! Vaata tulemusi <a asp-action="Results">Siit</a>.
    </p>
</div>
<div class="text-center">
    <p>
        Tere tulemast TTHK esimesse Game Jam'i! Oleme põnevil kutsuda kõiki mänguhuvilisi osalema selles TTHK jaoks <br/>
        esmakordes sündmuses, kus looming ja lõbu saavad kokku. Mõtle väljaspool kasti ja lase oma ideedel voolata,<br />
        sest esimese TTHK Game Jam'i teemaks on kõrvitsad ja vahtralehed. Kujutle, kuidas saad nende sügiseselt <br />
        võluvatel elementidel põhinevate mängude kaudu tuua esile oma loovuse ja programmeerimisoskused. See on <br />
        suurepärane võimalus ühendada jõud oma klassikaaslastega või siis näidata välja oma soolojõud ning arendada <br />
        üks sügiseselt atmosfäärikas ja huvitav mäng. Ootame sind - Hakkaja TTHK õpilane - et koos kujundada mänguelamusi,<br />
        mis toovad esile sügiskuude soojust ja värvikust. Tule ja ühine meiega sellel seiklusrohkel Game Jam'il, kus loome koos mänge, mis jäävad meelde!
    </p>
</div>
<br />
<br />
<div >
    <p class ="text-start">
        Reegleid ja muud infot loe <a asp-action="GameJam2023">Siit</a>
    </p>
</div>
