@{
    ViewData["Title"] = "Itch.Io Info";
    DateTime itchiorelease = new DateTime(2023, 10, 29,23,59,59);
}
@*@if (DateTime.Now < itchiorelease)
{
    <div class="text-danger">
        <p>Link lehele kuvatakse @itchiorelease.Date kuupäeval</p>
        @Html.Partial("_NotAvailable")
    </div>
}
@if (DateTime.Now >= itchiorelease)
{*@
    <div class="text-center">
        <h4>TTHK Sügisene Game Jam 2023</h4>
        <h1 class="display-4">Itch.Io Info</h1>
        <img src="~/images/leeftransAMEDIUM.png" alt="transparent pixel leaf A" />
        <img src="~/images/pompkentransMEDIUM.png" alt="transparent pixel pumpkin" />
        <img src="~/images/leeftransBMEDIUM.png" alt="transparent pixel leaf B" />
        <br />
    </div>

    <h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" />Mis on Itch.Io? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
    <p class="text-start">
        <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" /> Itch.io on digitaalne platvorm mis on loodud eesmärgiga anda kunstnikele, mänguarendajatele ja loovisikutele võimalus oma loomingut esitleda ja jagada ilma suurte piiranguteta. Platvormil saab luua projekte erinevates žanrites, sealhulgas mänge, interaktiivseid kogemusi, graafilisi romaane, muusikat, e-raamatuid ja palju muud.
        <br />
        <br />

        Itch.io pakub arendajatele paindlikkust oma toodete hinnastamisel, sealhulgas võimalust pakkuda oma loomingut tasuta või lasta kasutajatel ise määrata hinna vastavalt nende eelarvele ja väärtushinnangutele. See teeb platvormist atraktiivse keskkonna nii professionaalsetele mänguarendajatele kui ka algajatele, kes soovivad oma projekte maailmaga jagada.
        <br />
        <br />

        Lisaks on Itch.io tuntud oma avatud ja kogukonnakeskse lähenemise poolest. See võimaldab kasutajatel hinnata, kommenteerida ja jagada lemmikteoseid ning toetada otse arendajaid nende loomingu eest tasumise kaudu. Itch.io on seega mitmekesine platvorm, mis soodustab loomingulist mitmekesisust ja kogukonnaühendust.
    </p>
    <br />
    <br />
    <br />
    <h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" />Mis on Itch.Iol pistmist TTHK Game Jam'iga? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
    <p class="text-start">
        <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" />
        Game Jam kasutab Itch.Io keskkonna Game Jam'ide loomisvõimalusi, seega on vajalik, et iga osavõtjal kas juba on seal kasutaja, või loob sinna oma kasutaja. Kuidas seda teha, palun vaadake <a href="https://www.itch.io">Itch.Io</a> Kodulehelt.

    </p>
    <br />
    <br />
    <br />
    <h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" /> Miks peab mänge kuskile mujale üles laadima? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
    <p class="text-start">
        <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" />
        Kasutame Itch.Io keskkonda kuna Itch.iol on juba funktsioneeriv ja omadusterikas Game Jam'i teostamiseks sihipärane ja sobiv platvorm olemas. See hoidis kokku suure hulga tööd mida muidu meil endil teha oleks tulnud. Ei ole mõtet hakata ratast uuesti leiutama.
        Itch.Iosse mängude üleslaadimine, ning Game Jam'i sisestamine on tehtud suhteliselt lihtsaks, ning kui mäng laadida itch.iosse üles on ka osalejad teinud kas esimese sammu või järjekordse sammu arvutimängude loomise maailmas, kuna Itch.io mitte ainult ei võõrusta loojate mänge, vaid on ka otseselt koht kus loojad otse oma loomingut maailmale kuvada saavad, tasuta kusjuures.
    </p>
    <br />
    <br />
    <br />
    <h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" />Ok, kuidas ma Itch.io lehelt selle õige Jami üles leian? <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
    <p class="text-start">
        <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" />
        Vajutades sellele nupule:
        <br />
        <a href="https://itch.io/jam/383735/preview" class="btn btn-primary">TTHK Game Jam 2023</a>
    </p>
    <br />
    <br />
    <br />
    <h4><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" />Head Arendamist! <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h4>
    <br />
    <br />
    <br />
@*}*@
