
<div class="text-center">
    <h4>TTHK Sügisene Game Jam 2023</h4>
    <h1 class="display-4">Secret Page!</h1>
    <br />
</div>

<p class="text-start">
    <img src="~/images/leeftransA.png" alt="transparent pixel leaf A 1" />
    <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin 1" />
    <img src="~/images/leeftransB.png" alt="transparent pixel leaf B 1" />
    <br />
    <img src="~/images/leeftransAMEDIUM.png" alt="transparent pixel leaf A 2" />
    <img src="~/images/pompkentransMEDIUM.png" alt="transparent pixel pumpkin 2" />
    <img src="~/images/leeftransBMEDIUM.png" alt="transparent pixel leaf B 2" />
    <br />
    <img src="~/images/leeftransABIG.png" alt="transparent pixel leaf A 3" />
    <img src="~/images/pompkentransBIG.png" alt="transparent pixel pumpkin 3" />
    <img src="~/images/leeftransBBIG.png" alt="transparent pixel leaf B 3" />
    <br />
    <img src="~/images/leeftransALARGE.png" alt="transparent pixel leaf A 4" />
    <img src="~/images/pompkentransLARGE.png" alt="transparent pixel pumpkin 4" />
    <img src="~/images/leeftransBLARGE.png" alt="transparent pixel leaf B 4" />
</p>