@{
    ViewData["Title"] = "Game Jam 2023";
}
<div class="text-center">
    <h4>TTHK Showcase</h4>
    <h1 class="display-4">Showcase</h1> 
    <img src="~/images/leeftransAMEDIUM.png" alt="transparent pixel leaf A" />
    <img src="~/images/pompkentransMEDIUM.png" alt="transparent pixel pumpkin" />
    <img src="~/images/leeftransBMEDIUM.png" alt="transparent pixel leaf B" />
    <br />
</div>

<h2><img src="~/images/leeftransA.png" alt="transparent pixel leaf A" /> TTHKs Tehtud mängude showcase <img src="~/images/leeftransB.png" alt="transparent pixel leaf B" /> </h2>
<p class="text-start">
    <img src="~/images/pompkentrans.png" alt="transparent pixel pumpkin" /> Et anda innustust Game Jamiks, on siin lehel välja toodud
    mõningad teised TTHKs kas õppetöö, või siis lõpetamise tulemusel tehtud mängud:
    <br />
    <table class="table">
        <thead>
            <th>Mängu nimi</th>
            <th>Autori(d)</th>
            <th>Pilt</th>
            <th>Link</th>
            <th>žanr</th>
            <th>Rühm</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td>Daydream Residence</td>
                <td><a href="https://kodukass.itch.io/">Kodukass</a></td>
                <td><img src="https://img.itch.zone/aW1hZ2UvMjA5MTA1Ny8xMjMwMTE1OC5wbmc=/original/auDcXJ.png" height="232"/> </td>
                <td> <a href="https://kodukass.itch.io/daydream-residence" class="btn btn-primary">Mängi</a></td>
                <td>Visual Novel</td>
                <td>TARge21</td>
            </tr>
            <tr>
                <td>Spikerdaja</td>
                <td><a href="https://jurivaitmaa21.thkit.ee/portfolio/kes.php">Jüri Vaitmaa</a><br />Eva-Kristina Vesiallik</td>
                <td><img src="https://jurivaitmaa21.thkit.ee/portfolio/images/spikerdaja01.png" height="232" /> </td>
                <td> <a href="https://jurivaitmaa21.thkit.ee/portfolio/spikerdajapython.php" class="btn btn-primary">Mängi</a></td>
                <td>Stealth</td>
                <td>TARge21</td>
            </tr>
            <tr>
                <td>Harold Harrisson the Rabbit Warrior</td>
                <td><a href="https://estlib.itch.io">Estlib<br/>(Jüri Vaitmaa)</a></td>
                <td><img src="https://img.itch.zone/aW1hZ2UvMjEzNjM0OS8xMzg2NDE2Ni5wbmc=/347x500/i5o6oA.png" height="232" /> </td>
                <td> <a href="https://estlib.itch.io/harold-harrisson-the-rabbit-warrior-early-engine-wip" class="btn btn-primary">Mängi</a></td>
                <td>Platformer</td>
                <td>TARge21</td>
            </tr>
        </tbody>
    </table>
</p>
<br />
<br />
<br />
