<div class="text-danger">
    <p>Leht pole veel avatud avalikuks vaatamiseks<br />
        <br />
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Tagasi esilehele</a>
    </p>
</div>